*{
    margin:0px;
    padding:0px;

}
a{
    color: #CB782A;
}
a:hover  {color: #deb887; text-decoration: none;}

.pagetitle{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: #CB782A;

}
.form-body{
    background-color: #FBFBFB;
    width: 800px;
    margin: auto;
    color: black;
    padding: 10 px 0px 10px 0px;
    text-align: center;
    border-radius:0px 0px 15px 15px ;
}

.input-category{
    margin-left: 25px;
    margin-top: 30px;
    color: darkslategray;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.input-sub-category{
    margin-left: 25px;
    margin-top: 30px;
    color: darkslategray;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.input-label{
    position: relative;

}
.input-field{
    width: 270px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 27px;
}
.area-code-input{
    width: 100px;
}
.phone-number-input{
    width: 160px;
}
.form-submit{
    background: #deb887;
    background-color: #CB782A;
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5em;
}


.form-body hr{
    width: 800px;
    color: #CB782A;
}

.form-submit:hover  {background-color: #deb887; text-decoration: none;color: white;}

hr{
    border-top: 2px solid #CB782A
}